<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="person.caiwenlao.modules.system.dao.RoleDao" >
    <resultMap id="JoinResultMap" type="person.caiwenlao.modules.system.domain.po.RolePo" extends="BaseResultMap">
        <collection column="{roleId=role_id}" property="menus" ofType="person.caiwenlao.modules.system.domain.po.MenuPo" select="person.caiwenlao.modules.system.dao.MenuDao.findByRoleId" />
        <collection column="{roleId=role_id}" property="depts" ofType="person.caiwenlao.modules.system.domain.po.DeptPo" select="person.caiwenlao.modules.system.dao.DeptDao.findByRoleId" />
    </resultMap>

    <select id="findByUserId" resultMap="JoinResultMap">
        select
          *
        from
           sys_users_roles ur
        left join sys_role r on r.role_id = ur.role_id
        where
          ur.user_id=#{userId, jdbcType=BIGINT}
   </select>

    <select id="findByName" resultMap="BaseResultMap">
        select
          *
        from
          sys_role
        where
          name=#{name, jdbcType=VARCHAR}
   </select>

    <select id="countByDepts" resultType="java.lang.Integer">
        select
          count(1)
        from
          sys_role r, sys_roles_depts d
        where
          r.role_id = d.role_id and d.dept_id
        in
        <foreach collection="list" item="deptId" open="(" close=")" separator=",">
            #{deptId, jbdcType=BIGINT}
        </foreach>
   </select>

    <select id="findInMenuId" resultMap="BaseResultMap">
        SELECT
          r.* FROM sys_role r, sys_roles_menus m
        WHERE
          r.role_id = m.role_id AND m.menu_id
        in
        <foreach collection="list" item="menuId" open="(" close=")" separator=",">
            #{menuId, jbdcType=BIGINT}
        </foreach>
   </select>

    <delete id="deleteAllByIdIn">
        delete from
          sys_role
        where
          role_id
        in
        <foreach collection="list" item="roleId" open="(" close=")" separator=",">
            #{roleId, jbdcType=BIGINT}
        </foreach>
    </delete>

    <delete id="untiedMenu">
        delete from
          sys_roles_menus
        where menu_id = #{menuId, jbdcType=BIGINT}
    </delete>

</mapper>