<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="person.caiwenlao.modules.system.dao.RoleDeptDao" >
  <resultMap id="BaseResultMap" type="person.caiwenlao.modules.system.domain.model.RoleDept" >
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
    <id column="dept_id" property="deptId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from sys_roles_depts
    where role_id = #{roleId,jdbcType=BIGINT}
      and dept_id = #{deptId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="person.caiwenlao.modules.system.domain.model.RoleDept" >
    insert into sys_roles_depts (role_id, dept_id)
    values (#{roleId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="person.caiwenlao.modules.system.domain.model.RoleDept" >
    insert into sys_roles_depts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>